<app-header></app-header>
<app-default-login-layout
    title="Entre na sua conta"
    primaryBtnText="Entrar"
    secondaryBtnText="Cadastre-se"
    (submit)="submit()"
    (navigate)="navigate()"

>    
    <form [formGroup]="loginForm">
        
        <app-primary-inputs
            formControlName="email"
            inputName="email"
            type="email"
            label="Email:"
            placeholder="exemplo@gmail.com"
        >            
            <img src="assets/svg/email-icon.svg"/>
        </app-primary-inputs>
        <app-primary-inputs
            formControlName="password"
            inputName="password"
            type="password"
            label="Senha:"
            placeholder="digite a senha"
        >            
            <img src="assets/svg/password-icon.svg"/>
        </app-primary-inputs> 
        <div class="form-checkbox">
            <input class="checkbox" type="checkbox" id="checkbox1">
            <label for="checkbox1" tabindex="1">Manter conectado</label>
        </div>       
        <span>Esqueceu a senha?</span>
    </form>      
        
</app-default-login-layout>
