<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <span></span>
            <h1> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.  </h1>
        </div>
        <div class="img-icon">
            <img ngSrc="/assets/svg/icon.png" width="530" height="500" loading="lazy">
        </div>   

    </section>
    <section class="benefit-section">
        <div class="benefit-data">
            
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </section>
</main>